
.GoodsDetail__root {
  position: relative;
  width: 100%;
  background: #FAF7F7;
  min-height: 100vh;
  .caseExplain-box {
    position: relative;
    margin: 10px 10px 0;

  }
  .commentList-box{
    position: relative;
    margin: 10px 10px 0;
    border-radius: 6px;
    overflow: hidden;
  }
  .details-box{
    margin-top: 10px;
  }
}
